<div class="cui-tabs">
	<ul>
		<li>
			<a href="http://www.loyoubao.com">
				<p class="cui-icon">&#xe608;</p >
				<span>首页</span>
			</a>
		</li>
		<li>
			<a href="http://new.yyyggo.com/category.html" >
				<p class="cui-icon">&#xe615;</p >
				<span>嘉夺宝</span>
			</a>
		</li>
		<li>
			<a href="/lyg/" class="active">
				<p class="cui-icon">&#xe609;</p >
				<span>0元抽</span>
			</a>
		</li>
		<li>
			<a href="http://sso.loyoubao.com/users/" >
				<p class="cui-icon">&#xe600;</p >
				<span>我的</span>
			</a>
		</li>
	</ul>
</div>